server/target/
app/node_modules/
app/dist/
app/.env
app/.env.*
!app/.env.*.example
!app/.env.example
app/env/.env
app/env/.env.*
!app/env/.env.example
!app/env/.env.*.example
.idea/
.vscode/
.env
.env.local
server/src/main/resources/application-dev.yml
logs/
*.log
data/
*.iml
